<div class="made-with-showcase">
  {{#each made_with_examples}}
    <div class="made-with-showcase__item">
      <a class="made-with-showcase__item__link" href="{{link}}">
        <img class="made-with-showcase__item__image"
            src="assets/img/{{image}}" alt="Made with Zdog" />
      </a>
    </div>
  {{/each}}
</div>
