<ul class="site-nav">
  <li class="site-nav__item site-nav__item--home">
    <a href="{{@file.rootpath}}">Zdog</a></li>
  <li class="site-nav__item site-nav__item--home">
    <a href="{{@file.rootpath}}tutorial">Tutorial</a></li>
  <li class="site-nav__item site-nav__item--home">
    <a href="{{@file.rootpath}}api">API</a></li>
  <li class="site-nav__item site-nav__item--home">
    <a href="{{@file.rootpath}}extras">Extras</a></li>
</ul>
