/* site-nav
------------------------- */

.site-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-nav__item {
  font-size: 1.15rem;
  font-weight: bold;
  line-height: 1.2;
}

.site-nav__item a {
  text-decoration: none;
  padding: 7px 10px;
  display: block;
  border-radius: 8px;
}

.site-nav__item.is-selected a {
  color: #636;
  background: #FDB;
}

/* ---- homepage ---- */

.site-nav__item--index { font-size: 2.0rem; }
.site-nav__item--index a {
  color: #EA0;
  padding-top: 2px;
  padding-bottom: 2px;
}

@media screen and ( min-width: 768px ) {

  .site-nav {
    margin: 10px 0 0;
  }

  .site-nav__item--index.is-selected a {
    color: white;
    background: transparent;
  }

}

.site-nav__item a:hover {
  color: #636;
  background: #EA0;
}
