---
title: API
---

{{! --------------------------------------------- }}

<h2>Options</h2>

<p>Set options with an object.</p>

``` js
const face = new Zdog.Rect({
  addTo: illo,
  width: 80,
  height: 60,
  rotate: { y: -2 },
  color: '#E62',
});
```

<p>Get and re-set options as properties on the returned item.</p>

``` js
// get option
console.log( face.rotate.y );
// => -2

// re-set option
face.rotate.y = 3;
```

{{! --------------------------------------------- }}

{{> api-anchor }}
{{> api-shape }}
{{> api-group }}
{{> api-dragger }}
{{> api-illo }}
{{> api-vector }}
{{> api-utils }}
