---
title: API
---

{{! --------------------------------------------- }}

<h2>Classes</h2>

<p>Zdog's API consists mostly of creating and using instances of its classes.</p>

``` js
const illo = new Zdog.Illustration({
  element: '.zdog-canvas',
});

const anchor = new Zdog.Anchor({
  addTo: illo,
  translate: { y: 10 },
});

const rect = new Zdog.Rect({
  addTo: anchor,
});

illo.updateRenderGraph();
```

{{! --------------------------------------------- }}

<h3>Properties</h3>

<p>Set initial properties with an object.</p>

``` js
const rect = new Zdog.Rect({
  addTo: illo,
  width: 80,
  height: 60,
  rotate: { y: -2 },
  color: '#E62',
});
```

<p>Get and re-set properties on the returned instance.</p>

``` js
// get option
console.log( rect.rotate.y );
// => -2

// re-set option
rect.rotate.y = 3;
```

{{! --------------------------------------------- }}

<h3>Inheritance</h3>

<p>Some Zdog classes inherit functionality from other classes. For example, <code>Rect</code> inherits from <code>Shape</code> and <code>Shape</code> inherits from <code>Anchor</code>. This means that <code>Rect</code> can use all the properties and methods from <code>Shape</code> and <code>Anchor</code>.</p>

{{! --------------------------------------------- }}

{{> api-anchor }}
{{> api-shape }}
{{> api-group }}
{{> api-dragger }}
{{> api-illo }}
{{> api-vector }}
{{> api-utils }}
