---
title: API
---

{{! --------------------------------------------- }}

<h2>Options</h2>

<p>Set options with an object.</p>

``` js
const face = new Zdog.Rect({
  addTo: illo,
  width: 4,
  height: 3,
  rotate: { y: -2 },
  color: '#E62',
});
```

<p>Get and re-set options as properties on the returned item.</p>

``` js
// get option
console.log( face.rotate.y );
// => -2

// re-set option
face.rotate.y = 3;
```

{{! --------------------------------------------- }}

{{> anchor-api }}
{{> shape-api }}
{{!> group-api }}
{{!> vector-api }}
{{!> illo-api }}
{{!> dragger-api }}
{{!> utils-api }}


```
Group
  updateSort
  visible
Illo
Vector
  x, y, z
Dragger
Utilities
```