---
homepage: true
---

{{> illo-showcase }}

{{! --------------------------------------------------- }}

<h2>Made with Zdog</h2>

{{> made-with-showcase }}

{{! --------------------------------------------------- }}

<h2>Install</h2>

<h3>Download</h3>

<ul>
  <li><a href="https://unpkg.com/zdog@1/dist/zdog.dist.min.js">zdog.dist.min.js</a> - minified</li>
  <li><a href="https://unpkg.com/zdog@1/dist/zdog.dist.js">zdog.dist.js</a> - un-minified</li>
</ul>

<h3>CDN</h3>

<p>Link directly to Zdog JS on <a href="https://unpkg.com/">unpkg</a>.</p>

``` html
<script src="https://unpkg.com/zdog@1/dist/zdog.dist.min.js"></script>
```

<h3>Package managers</h3>

<ul>
  <li>Install with npm: <code>npm install zdog</code></li>
  <li>Install with Bower: <code>bower install zdog --save</code></li>
</ul>

{{! --------------------------------------------------- }}

<h2>Hello world demo</h2>

<p>Create 3D models with Zdog by adding shapes. See <a href="getting-started">Getting started</a> for a walk-through of this demo.</p>

<div class="example">
  <div class="example__code">
    ``` js
    let isSpinning = true;

    let illo = new Zdog.Illustration({
      element: '.zdog-canvas',
      dragRotate: true,
      // stop spinning when drag starts
      onDragStart: function() {
        isSpinning = false;
      },
    });

    // circle
    new Zdog.Ellipse({
      addTo: illo,
      diameter: 80,
      translate: { z: 40 },
      stroke: 20,
      color: '#636',
    });

    // square
    new Zdog.Rect({
      addTo: illo,
      width: 80,
      height: 80,
      translate: { z: -40 },
      stroke: 12,
      color: '#E62',
      fill: true,
    });

    function animate() {
      illo.rotate.y += isSpinning ? 0.03 : 0;
      illo.updateRenderGraph();
      requestAnimationFrame( animate );
    }
    animate();
    ```
  </div>
  <div class="example__demo">
    <canvas data-js="starterDragRotate" data-spin="true"
        class="illo" width="240" height="240"></canvas>
    {{> edit-demo penSlug="YbrLaO"}}
  </div>
</div>

{{! --------------------------------------------------- }}

<h2>About Zdog</h2>

<p>Hi! <a href="https://desandro.com">Dave here</a>. I wanted to make a video game. I needed a 3D engine, but most engines were too powerful and complex for me. I made Zdog so I could design and display simple 3D models without a lot of overhead.</p>

<p>Zdog is directly inspired by <a href="https://en.wikipedia.org/wiki/Petz">Dogz</a>, a virtual pet game by P.F. Magic released in 1995. It used flat 2D circle sprites to render the Dogz&rsquo; models, but in a 3D scene. <a href="https://www.youtube.com/watch?v=6lKSn_cHw5k">See Dogz playthrough video here.</a> Dogz were fully animated in real time, running, flopping, scratching (on Windows 3.1!). It was remarkable.</p>

<p>Zdog uses the same principal. It renders all shapes using 2D drawing API in  <a href="https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial"><code>&lt;canvas></code> </a> or <code>&lt;svg></code>. Spheres are actually dots. Toruses are actually circles . Capsules are actually thick lines. It&rsquo;s a simple, but effective trick.</p>

<p>Zdog is pronounced "Zee-dog" in American parlance or "Zed-dog" in British.</p>

<h3>Beta!</h3>

<p>Zdog v1 is a beta-release, of sorts. This is my first time creating a 3D engine, so I probably got some stuff wrong. Expect lots of changes for v2. Provide input and select new features on the <a href="https://github.com/metafizzy/zdog/issues">Zdog issue tracker on GitHub</a>.</p>
