---
homepage: true
---

<h2>About Zdog</h2>

<p>Hi, <a href="https://desandro.com">Dave</a> here. I wanted to make a video game. I needed a 3D engine, but most engines were overly powerful, big, and complex. I made Zdog so I could design and display simple 3D models without a lot of overhead.</p>

<p>Zdog is directly inspired by <a href="https://en.wikipedia.org/wiki/Petz">Dogz</a>, a virtual pet game by P.F. Magic released in 1995. It used flat 2D circle sprites to render all the dogz&rsquo; body parts. <a href="https://www.youtube.com/watch?v=6lKSn_cHw5k">Dogz were fully animated in real time</a>, running, flopping, scratching. All running on Windows 3.1 PCs. It was remarkable.</p>

<p>Zdog uses the same principal. It renders all shapes using the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial">2D <code>&lt;canvas></code> drawing API</a>. Spheres are actually dots. Toruses are actually circles . Capsules are actually thick lines. It&rsquo;s a simple, but effective trick.</p>

<p>Zdog is pronounced "Zee-dog" in American parlance or "Zed-dog" in British.</p>
