---
title: Shapes
---

<p>Shapes are the visible items rendered in a Zdog model. All shape classes inherit <code>Anchor</code> and <code>Shape</code> options and methods.</p>

{{> shapes-basic }}
{{> shapes-shape }}


```
Polygon
  sides
  radius
Hemisphere
  diameter
  baseColor
Cylinder
  diameter
  length
  baseColor
Cone
  diameter
  length
  baseColor
Box
  width
  height
  depth
  front
  back
  left
  right
  top
  bottom
```
