---
title: Shapes
---

<p>Shapes are the visible items rendered in a Zdog model. All shape classes inherit <a href="api#anchor"><code>Anchor</code></a> and <a href="api#shape"><code>Shape</code></a> properties and methods.</p>

{{> shapes-basic }}
{{> shapes-shape }}
{{> shapes-composite }}
