---
title: Shapes
---

<p>Shapes are the visible items rendered in a Zdog model. All shape classes inherit <code>Anchor</code> and <code>Shape</code> options and methods.</p>

{{> shapes-basic }}
{{> shapes-shape }}
{{> shapes-composite }}
