/* site-footer
------------------------- */

.site-footer {
  margin: 4rem 0 3rem;
  display: block;
}

.site-footer__mfzy-link {
  display: inline-block;
  border-radius: 8px;
}

.site-footer__brought  {
  display: inline-block;
  font-size: 1.2rem;
  vertical-align: top;
  padding-top: 0.4rem;
  padding-right: 0.5rem;
}

.mfzy-wordmark {
  stroke: #C25;
}

.site-footer__mfzy-link:hover .mfzy-wordmark {
  stroke: #333;
}
