<a class="gh-button" href="https://github.com/{{ghPath}}" data-js="ghButton">
  <span class="gh-button__title">
    <svg class="github-logo" viewbox="0 0 512 512">
      <path d="M256 0C115 0 0 115 0 256c0 113 73 209 175 243 13 2 18-5 18-12v-48c-64 12-81-16-86-30-3-7-15-30-26-36-9-5-22-17 0-17 20 0 35 19 39 26 23 39 60 28 75 21 2-17 9-28 16-34-57-6-116-28-116-126 0-28 10-51 26-69-3-6-11-33 3-68 0 0 21-7 70 26 20-6 42-9 64-9s43 3 64 9c49-33 70-26 70-26 14 35 5 61 3 68 16 18 26 41 26 69 0 98-60 120-117 126 9 8 17 23 17 47v70c0 7 5 15 18 12 100-33 173-129 173-242C512 115 397 0 256 0z" />
    </svg>
    <span class="gh-button__title__text">{{project}} on GitHub</span>
  </span>
  <span class="gh-button__stat">
    <svg class="gh-button__icon gh-button__icon--star" viewbox="0 0 896 1024">
      <path d="M896 384l-313-41L448 64 313 343 0 384l230 208L171 895l277-149 277 148L665 593 896 384z" />
    </svg>
    <span class="gh-button__stat__text">{{stars}}</span>
  </span>
</a>
