/* illo
------------------------- */

.illo {
  display: block;
  background: #FDB;
  border-radius: 8px;
  cursor: move;
}

.illo--no-drag {
  cursor: auto;
}

.illo--fluid-canvas {
  display: block;
  width: 100%;
}
