<div class="hero">
  <div class="hero__logo">
    {{> zdog-logo }}
  </div>
  <div class="hero__copy">
    <h1 class="hero__title">Zdog</h1>
    <p class="hero__tagline">{{ description }}</p>
  </div>
</div>
