/* hero
------------------------- */

.hero {
  display: flex;
  align-items: center;
  height: 170px;
}

.hero__title {
  font-size: 6.0rem;
  margin: 0;
  line-height: 1;
  color: #EA0;
}

.hero__tagline {
  font-size: 1.6rem;
  line-height: 1.1;
  margin: 5px 0 0;
  font-weight: bold;
  color: #636;
  padding-left: 40px;
}
