<div class="hero">
  <div class="hero__masthead">
    <h1 class="hero__title">Zdog</h1>
    <p class="hero__tagline">Round, flat, designer-friendly <br> pseudo-3D engine for canvas &amp; SVG</p>
  </div>
  <div>
    {{> gh-button project="Zdog" ghPath="metafizzy/zdog" stars="7500"}}
  </div>
</div>
