/* hero
------------------------- */

.hero__title {
  font-size: 3.0rem;
  color: #EA0;
  margin: 0;
}

.hero__tagline {
  margin: 0 0 0.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: #636;
}

@media screen and ( min-width: 768px ) {

  .hero__masthead {
    display: flex;
    align-items: center;
    height: 170px;
  }

  .hero__title {
    font-size: 6.0rem;
    line-height: 1;
    color: #EA0;
  }

  .hero__tagline {
    font-size: 1.6rem;
    line-height: 1.1;
    margin: 5px 0 0;
    padding-left: 40px;
  }

}
