/* illo-showcase
------------------------- */

.illo-showcase {
  display: flex;
  margin: 20px 0;
}

.illo-showcase__illo { margin-right: 10px; }
.illo-showcase__illo:last-child { margin-right: 0; }
