<div class="illo-showcase" data-js="illoShowcase">
  <canvas class="illo illo-showcase__illo illo-showcase__illo--1"
      width="180" height="180"></canvas>
  <canvas class="illo illo-showcase__illo illo-showcase__illo--2"
      width="180" height="180"></canvas>
  <canvas class="illo illo-showcase__illo illo-showcase__illo--3"
      width="180" height="180"></canvas>
  <canvas class="illo illo-showcase__illo illo-showcase__illo--4"
      width="180" height="180"></canvas>
</div>
