<p class="edit-demo">
  <a href="https://codepen.io/desandro/pen/{{penSlug}}">
    <svg class="codepen-icon" width="24" height="24" viewBox="0 0 24 24"
        fill="none" stroke="#000" stroke-width="2" stroke-linejoin="round">
      <path d="M3 9l9-6l9 6v6l-9 6l-9-6zm0 0l9 6l9-6m0 6l-9-6l-9 6m9-12v6m0 6v6" />
    </svg>
    Edit this demo on CodePen
  </a>
</p>
