/* masthead
------------------------- */

.masthead {
  display: flex;
}

.masthead__logo {
  width: 180px;
  margin-right: 10px;
}

@media screen and ( min-width: 768px ) {

  .masthead {
    display: block;
  }

  .masthead__logo {
    width: auto;
    margin: 0;
  }

}
