<h2>Anchor</h2>

<h3>addTo</h3>
<h3>scale</h3>
<h3>translate</h3>
<h3>rotate</h3>
<h3>copy()</h3>
<h3>copyGraph()</h3>
<h3>addChild()</h3>
<h3>removeChild()</h3>
<h3>remove()</h3>
<h3>normalizeRotate()</h3>
