<h2>Illustration</h2>

<p>Inherits both <code>Anchor</code> and <code>Dragger</code>.</p>

{{! --------------------------------------------- }}

<h3>canvas</h3>

{{! --------------------------------------------- }}

<h3>centered</h3>

{{! --------------------------------------------- }}

<h3>zoom</h3>

{{! --------------------------------------------- }}

<h3>dragRotate</h3>

{{! --------------------------------------------- }}

<h3>onPrerender</h3>

{{! --------------------------------------------- }}
