<h2>Shape</h2>

<p>A visible shape. <code>Shape</code> is the super-class for all shape classes — <code>Rect</code>, <code>Ellipse</code>, <code>Cone</code>, etc. All shape classes can use <code>Shape</code> options and methods.</p>

{{! --------------------------------------------- }}

<h3>color</h3>

<p>Sets shape stroke and fill color. Set to any color string — hex code, <code>rgb()</code>, <code>hsla()</code>, etc. Default <code>color: '#333'</code>.</p>

``` js
color: '#EA0'
```

{{! --------------------------------------------- }}

<h3>stroke</h3>

<p>Renders the shape line and sets line width. Default <code>stroke: 1</code>.</p>

``` js
stroke: 4
```

<p>Set to <code>0</code> or <code>false</code> to disable.</p>

``` js
// render only fill
stroke: false,
fill: true,
```

{{! --------------------------------------------- }}

<h3>fill</h3>

<p>Renders the inner shape area. Disabled by default <code>fill: false</code>.</p>

{{! --------------------------------------------- }}

<h3>closed</h3>

<p>Closes the shape&rsquo;s path from its last point back to its first. Enabled by default <code>closed: true</code>.</p>

{{! --------------------------------------------- }}

<h3>visible</h3>

<p>Shows or hides shape. Does not affect child items. Enabled by default <code>visible: true</code>.</p>

{{! --------------------------------------------- }}

<h3>backface</h3>

<p>Shows or hides the shape when its backface is visible. Enabled by default <code>backface: true</code>. Set <code>backface: false</code> to hide the shape when its backface is showing.</p>

<p>Set <code>backface</code> to a color to change the shape&rsquo;s color when its backface is showing.</p>

{{! --------------------------------------------- }}

<h3>front</h3>

{{! --------------------------------------------- }}

<h3>updatePath()</h3>

{{! --------------------------------------------- }}
