<h2>Group</h2>

<p>An item with a separated rendering order. Inherits <code>Anchor</code>.</p>

{{> group-concept }}

{{! --------------------------------------------- }}

<h3>visible</h3>

<p>Shows or hides group, including all child items in the group. <a href="#shape-visible"><code>Shape.visible</code></a> only shows or hides the item. Enabled by default <code>visible: true</code>.</p>

{{! --------------------------------------------- }}

<h3>updateSort</h3>

<p>Updates the rendering order of the group&rsquo;s child items.</p>

<p>Disabled by default <code>updateSort: false</code>. Group child items are rendered in the order they are added to the <code>Group</code>.</p>

{{! --------------------------------------------- }}
