<h2>Illustration</h2>

<p>Inherits both <code>Anchor</code> and <code>Dragger</code>.</p>

{{! --------------------------------------------- }}

<h3>element</h3>

{{! --------------------------------------------- }}

<h3>zoom</h3>

{{! --------------------------------------------- }}

<h3>dragRotate</h3>

<p>With <code>dragRotate</code> enabled, you can then use the <code>onDrag</code> functions: <code>onDragStart</code>, <code>onDragMove</code>, <code>onDragEnd</code></p>

{{! --------------------------------------------- }}

<h3>centered</h3>

{{! --------------------------------------------- }}

<h3>onPrerender</h3>

{{! --------------------------------------------- }}
