<h2>Dragger</h2>

{{! --------------------------------------------- }}

<h3>startElement</h3>

{{! --------------------------------------------- }}

<h3>onDragStart</h3>

{{! --------------------------------------------- }}

<h3>onDragMove</h3>

{{! --------------------------------------------- }}

<h3>onDragEnd</h3>

{{! --------------------------------------------- }}
