<h2>Modeling tutorial</h2>

<div class="example">
  <div class="example__code">
    <p>Modeling with Zdog is done by positioning and combining shapes to make more complex objects. This tutorial will walk through modeling this high-struttin' dude.</p>
  </div>
  <div class="example__demo">
    <canvas data-js="modelComplete" class="illo" width="240" height="240"></canvas>
  </div>
</div>

{{! --------------------------------------------- }}

<h3>Head &amp; face</h3>

<p>Our initial setup picks up from the <a href="getting-started">Getting started demo</a>. We have an <a href="api#illustration"><code>Illustration</code></a>, a model with a single <a href="shapes#shape"><code>Shape</code></a>, and an animation loop.</p>

<div class="example">
  <div class="example__code">
    ``` js
    const illo = new Zdog.Illustration({
      canvas: elem,
      zoom: 10,
      dragRotate: true,
    });

    // ---- model ---- //

    const head = new Zdog.Shape({
      addTo: illo,
      stroke: 12,
      color: gold,
    });

    // -- animate --- //

    function animate() {
      illo.updateRenderGraph();
      requestAnimationFrame( animate );
    }
    animate();
    ```
  </div>
  <div class="example__demo">
    <canvas data-js="modelHead" data-step="1" class="illo" width="240" height="240"></canvas>
  </div>
</div>

<p>The head shape is rendered as a flat-colored sphere with <a href="shapes#shape"><code>Shape</code></a>. The <code>Shape</code> class can be defined to render any shape — lines, curves, polygons — via its <a href="shapes#shape-path"><code>path</code> property</a>. As <code>head</code> does not have <code>path</code> set, its path defaults to a single point. That point, with <a href="#concepts-stroke-volume"><code>stroke</code> volume</a>, renders a flat-colored sphere. In other words, a circle.</p>

<p>Next we add the eye <a href="shapes#ellipse"><code>Ellipse</code></a> as a <a href="#concepts-child-shapes">child shape</a> to <code>head</code> with <a href="api#anchor-addto"><code>addTo: head</code></a>.</p>

<div class="example">
  <div class="example__code">
    ``` js
    const eye = new Zdog.Ellipse({
      addTo: head,
      diameter: 2,
      quarters: 2, // semi-circle
      translate: { x: -2, y: 1, z: 4.5 },
      // rotate semi-circle to point up
      rotate: { z: -TAU/4 },
      color: eggplant,
      stroke: 0.5,
      // hide when front-side is facing back
      backface: false,
    });
    ```
  </div>
  <div class="example__demo">
    <canvas data-js="modelHead" data-step="2" class="illo" width="240" height="240"></canvas>
  </div>
</div>

<p>For the eye on the right, we can <a href="#concepts-copying"><code>.copy()</code></a> the right. The original options are copied over and then can be overwritten with new options, in this case changing <code>translate</code>.</p>

<div class="example">
  <div class="example__code">
    ``` js
    // eye on left
    const eye = new Zdog.Ellipse({
      addTo: head,
      diameter: 2,
      quarters: 2,
      translate: { x: -2, y: 1, z: 4.5 },
      // ...
    });
    // eye on right
    eye.copy({
      translate: { x: 2, y: 1, z: 4.5 },
    });
    ```
  </div>
  <div class="example__demo">
    <canvas data-js="modelHead" data-step="3" class="illo" width="240" height="240"></canvas>
  </div>
</div>

<p>Compare the <code>translate</code> <a href="#concepts-vector-objects">vector <i>Object</i>s</a> for the eyes.</p>

``` js
// eye on left
translate: { x: -2, y: 1, z: 4.5 }
// eye on right
translate: { x: 2, y: 1, z: 4.5 }
```

<p>The only difference is the <code>x</code> coordinate. But all three <code>x</code>, <code>y</code>, <code>z</code> coordinates need to be set. Setting just <code>translate: { x: 2 }</code> would yield <code>{ x: 2, y: 0, z: 0 }</code> which is not what we want.</p>

<p>The smile is made with a similar semi-circle <a href="shapes#ellipse"><code>Ellipse</code></a>. Its path is closed with <a href="api#shape-closed"><code>closed: true</code></a>.</p>

<div class="example">
  <div class="example__code">
    ``` js
    // smile
    new Zdog.Ellipse({
      addTo: head,
      diameter: 3,
      quarters: 2,
      translate: { y: 2.5, z: 4.5 },
      rotate: { z: TAU/4 },
      closed: true,
      color: '#FED',
      stroke: 0.5,
      fill: true,
      backface: false,
    });
    ```
  </div>
  <div class="example__demo">
    <canvas data-js="modelHead" data-step="4" class="illo" width="240" height="240"></canvas>
  </div>
</div>

{{! --------------------------------------------- }}

<h3>Body core</h3>

<p>Let's give this floating head a body starting with a chest.</p>

<div class="example">
  <div class="example__code">
    ``` js
    // illo zoom: 5

    const head = new Zdog.Shape({
      translate: { y: -14 }, // make room for body
      // ...
    });

    // eyes & smile...

    const chest = new Zdog.Shape({
      addTo: illo,
      path: [ { x: -1.5 }, { x:  1.5 } ],
      translate: { y: -4.5 },
      color: garnet,
      stroke: 9,
    });
    ```
  </div>
  <div class="example__demo">
    <canvas data-js="modelBodyCore" data-step="1" class="illo" width="240" height="240"></canvas>
  </div>
</div>

<p><code>chest</code> is a <a href="shapes#shape-line">horizontal line <code>Shape</code></a>. Unlike <code>head</code>, <code>chest</code> has its <a href="shapes#shape-path"><code>path</code></a> set. The <code>path</code> for <code>chest</code> is set to an <i>Array</i> with two <a href="#concepts-vector-objects">vector <i>Object</i>s</a>. So this path reads: start at <code>x: -1.5</code>, draw a line to <code>x: 1.5</code>. <a href="#concepts-stroke-volume">Ample stroke</a> gives makes this little line a big barrelled torso.</p>

<p>Let's make the hips with another horizontal line.</p>

<div class="example">
  <div class="example__code">
    ``` js
    const hips = new Zdog.Shape({
      addTo: illo,
      path: [ { x: -3 }, { x: 3 } ],
      translate: { y: 2 },
      color: eggplant,
      stroke: 4,
    });
    ```
  </div>
  <div class="example__demo">
    <canvas data-js="modelBodyCore" data-step="2" class="illo" width="240" height="240"></canvas>
  </div>
</div>

{{! --------------------------------------------- }}

<h3>Legs</h3>

{{! --------------------------------------------- }}

<h3>Arms</h3>

{{! --------------------------------------------- }}

<h3>Rotating legs</h3>

{{! --------------------------------------------- }}

<h3>Rotating spine </h3>

{{! --------------------------------------------- }}

<h3>Rotating arms</h3>

{{! --------------------------------------------- }}
