<h2>Shape</h2>

<p></p>

<h3>Shape options</h3>

``` js
let shape = new Zdog.Shape({
  color: '#E62',
  // stroke and fill color, set to any color string
  // color: 'hsla(210, 100%, 50%, 0.7)'
  // default: #333

  stroke: 4
  // renders a line of the path, sets line width
  // set to 0 or false to disable
  // default: 1

  fill: true
  // fills in color within shape
  // default: false

  closed: true
  // closes the path from its last point back to its first
  // default: true

  visible: true
  // shows or hides the shape
  // does not show/hide child shapes
  // default: true
});
```

<h3>backfacefront</h3>

<h3>front</h3>

<h3>path</h3>



<h3>updatePath()</h3>

