<p>A vector <i>Object</i> is a plain ol' JavaScript <i>Object</i> with <code>x</code>, <code>y</code>, <code>z</code> coordinate properties. The coordinate properties are optional. They default to <code>0</code> if undefined. So you only need to set non-zero values.</p>
