/* syntax highlight
------------------------- */

code .string,
code .tag .value { color: #0A2; }
code .number, /* integer */
code .literal { color: #07D; } /*boolean*/
code .keyword { color: #E31; } /* keyword */
code .attribute, /* HTML attribute */
code .attr { color: #818; } /* JS Object key */
code .title  { color: #39A; }
code .params  { color: #98D; }

/* comment */
code .comment { color: #999; font-style: italic; }

code .tag { color: #37B; } /* Markup open tag */

code .id { color: #567; } /* css id */
code .class { color: #B27; }  /* CSS class */
code .rules { color: #431; }
code .value  { color: #555; } /* CSS value */
code .pseudo { color: #38D; } /* CSS pseudo selector */
code .hexcolor { color: #F63; }
code .at_rule { color: #088; }

code .built_in { color: #E08; }

code .zdog_class { color: #C25; } /* Zdog classes */
code .demo_var { color: #096; }
