/* container
------------------------- */

.container {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1000px;
  display: flex;
}

.container__sidebar {
  flex-basis: 170px;
  flex-shrink: 0;
  margin-right: 30px;
}

/* ---- .container__main ---- */

.container__main > h1 {
  font-size: 4.0rem;
  line-height: 1.2;
  margin: 1.0rem 0;
}

.container__main > h2 {
  font-size: 2.4rem;
  border-top: 8px solid #FDB;
  padding-top: 10px;
  line-height: 1.2;
  margin: 3.0rem 0 2.0rem;
  padding-top: 1.5rem;
}

.container__main > h3 {
  font-size: 1.4rem;
  padding-top: 1.2rem;
  border-top: 2px solid #FDB;
  margin: 3.0rem 0 1.0rem;
}

.container__main > h2:target,
.container__main > h3:target {
  padding-left: 5px;
  background: #EA0;
  color: white;
  border-color: #C25;
}


.container__main p a,
.container__main ul a {
  border-bottom: 1px solid;
}
