<div class="socks-promo">
  <a class="socks-promo__link" href="https://gumroad.com/l/mfzy-socks">
    <div class="socks-promo__cell">
      <img class="socks-promo__image" src="https://i.imgur.com/pnT4so7.jpg" alt="Metafizzy cute rainbow bear socks" />
    </div>
    <div class="socks-promo__cell">
      <h3 class="socks-promo__title">Metafizzy socks now on&nbsp;sale!</h3>
      <div class="socks-promo__description">
          <p>Comfy-soft cotton knit. Argyle design on leg. Fizzy bear on top of foot.</p>
          <p>Makes a great gift. Everyone wears socks.</p>
      </div>
    </div>
  </a>
</div>
